.sidebar {
	position: fixed;
	background-color: #101010;
	width: 21%;
	height: 100%;
	z-index: 1;
}

/* ANIMATION */

@keyframes goIn {
	0% { left: 0px;	}
	100% { left: -100%;	}
}

@-webkit-keyframes goIn {
	0% { left: 0px; }
	100% { left: -100%; }
}

@-moz-keyframes goIn {
	0% { left: 0px; }
	100% { left: -100%; }
}

@keyframes goOut {
	0% { left: -50%; }
	100% { left: 0px; }
}

@-webkit-keyframes goOut {
	0% { left: -50%; }
	100% { left: 0px; }
}

@-moz-keyframes goOut {
	0% { left: -50%; }
	100% { left: 0px; }
}

@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(45deg); }
}

@-webkit-keyframes rotation {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(45deg); }
}

@-moz-keyframes rotation {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(45deg); }
}

@keyframes rotationN {
	0% { transform: rotate(45deg); }
	100% { transform: rotate(0deg); }
}

@-webkit-keyframes rotationN {
	0% { -webkit-transform: rotate(45deg); }
	100% { -webkit-transform: rotate(0deg);}
}

@-moz-keyframes rotationN {
	0% { -webkit-transform: rotate(45deg); }
	100% { -webkit-transform: rotate(0deg);}
}