.sidebar {
	position: fixed;
	width: 340px;
	height: 100%;
	z-index: 1;
	/*-webkit-animation: goIn 1s 0s linear;*/
}


.blacken {
	background-color: #101010;	
}

.button-holder {
	float: left;
	width: 60px;
	height: 60px;
	padding-top: 20px;
}

#menu-button {
	border: none;
	width: 60px;
	height: 60px;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

@keyframes goIn {
	0% {
		left: 0px;
	}
	100% {
		left: -240px;
	}
}

@-webkit-keyframes goIn {
	0% {
		left: 0px;
	}
	100% {
		left: -240px;
	}
}

@keyframes goOut {
	0% {
		left: -240px;
	}
	100% {
		left: 0px;
	}
}

@-webkit-keyframes goOut {
	0% {
		left: -240px;
	}
	100% {
		left: 0px;
	}
}


@keyframes goOutMain {
	0% {
		left: 0px;
	}
	100% {
		left: 240px;
	}
}

@-webkit-keyframes goOutMain {
	0% {
		left: 0px;
	}
	100% {
		left: 240px;
	}
}

@keyframes goInMain {
	0% {
		left: 240px;
	}
	100% {
		left: 0px;
	}
}

@-webkit-keyframes goInMain {
	0% {
		left: 240px;
	}
	100% {
		left: 0px;
	}
}


@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(180deg);
	}
}


@keyframes rotationN {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes rotationN {
	0% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

@media screen and (max-width:720px) {
	.sidebar {
		position: fixed;
		width: 50%;
		height: 100%;
		z-index: 1;
		/*-webkit-animation: goIn 1s 0s linear;*/
	}
}

@media screen and (max-width:480px) {
	.sidebar {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1;
		/*-webkit-animation: goIn 1s 0s linear;*/
	}
}

/*Toggle button*/
.cmn-toggle {
	position: : absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

input.cmn-toggle-round + label {
	padding: 2px;
	width: 70px;
	height: 35px;
	background-color: #dddddd;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	border-radius: 35px;
}

input.cmn-toggle-round + label:before {
	display: inline;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	content: "";
	

}

input.cmn-toggle-round + label:after {
	/*display: block;*/
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	content: "BFS";
	font-size: 0.9em;
	text-align: center;
	color: #777;
	vertical-align: 50px;

}

input.cmn-toggle-round + label:before {
	right: 1px;
	background-color: #8c96e1;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle-round + label:after{
	width: 33px;
	background-color: #fff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	-webkit-transition: margin 0.4s;
	-moz-transition: margin 0.4s;
	transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
	background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
	content: "DFS";
	margin-left: 47%;
}