.topbar {
	position: absolute;
	width: 100vw;
	height: 42px;
	z-index: 10;
	display: block;
	background-color: #3d3d3d;
	box-shadow: 0px 1px 8px black;
	/*overflow: hidden;*/
	font-family: "QuickSand";
}

.topbar::after {
	position: absolute;
	content: "";
	display: block;

	top: 42px;

	margin-left: 50vw;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #3d3d3d;
}

.dir-menu {
	float:left;
	width: 25vw;
	height: 100%;

}

.dir-menu .icon {
	float: left;
	width: 15%;
	height: 80%;

	background-image: url("/img/folder-icon.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 1em;
	margin-top: .3em;
	margin-right: .5em;
}

.dir-menu .bar {
	float: left;
	width: 70%;
	height: 100%;
	margin-top: 10px;
}

.search-dir {
	padding: .2em;
}

.option-menu {
	float:left;
	width: 40vw;
	height: 100%;
	color: white;
	font-size: 20px;
}

.option-menu .icon {
	float: left;
	width: 10%;
	height: 100%;

	background-image: url("/img/algorithm-icon.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 1em;
	margin-top: .3em;
	margin-right: .3em;
}

.big-radio {
	width: 20px;
	height: 20px;
}

.radio-holder {
	display: inline-block;
    width: 90px;
    height: 20px;
    text-align: center;
    vertical-align: top;
    padding-top: 10px;
}

.ext-menu {
	float:left;
	width: 12vw;
	height: 100%;
	padding-top: 10px;
	padding-left: 10px;
	color: white;
	font-size: 1.2em;
}

.ext-menu .click {
	float: left;
	width: 0;
	height: 0;
	margin-top: .4em;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid white;
}

.ext-menu .click:hover {
	border-top-color:  rgb(136, 136, 136);
	cursor: pointer;
}

.ext-menu .text {
	float: left;
	margin: 0;
	width: 70%;
}


#ext-holder {
	position: absolute;
	height: auto;
	padding: 20px;
	background-color: #3d3d3d;
	border-radius: 5px;
	color: white;
	box-shadow: 0px 1px 8px black;

	/*top: 5vh;*/
	top: -15vh;
	left: 65vw;

	z-index: 5;
}


.menu-menu {
	float:left;
	width: 20vw;
	height: 100%;
	overflow: hidden;
}

.menu-menu .help {
	float:left;
	height: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-size: 1.2em;
}

.menu-menu .about {
	float:left;
	height: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-size: 1.2em;
}

.menu-menu .about:hover {
	background-color:  rgb(136, 136, 136);
	cursor: pointer;
}

.menu-menu .help:hover {
	background-color:  rgb(136, 136, 136);
	cursor: pointer;
}

.menu-menu .help::before {
	content: "?";
	padding-left: .4em;
	padding-right: .4em;
	border-radius: 50px;
	margin-right: .6em;
	border: 1px solid white;
}

.menu-menu .about::before {
	content: "!";
	padding-left: .5em;
	padding-right: .5em;
	border-radius: 50px;
	margin-right: .5em;
	border: 1px solid white;
}

.menu {
	width: 90%;
	color: white;
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 10px;
	font-weight: 700;
}

.menu.child {
	font-size: 1em;	
}

.menu.parent {
	font-size: 2em;	
}

.menu .content {
	margin: .5em;
}

.child-menu-title {
	width: 100%;
	color: white;
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 10px;
	font-size: 1em;
	font-weight: 700;
}

.button-holder {
	float: left;
	width: 60px;
	height: 60px;
	padding-top: 20px;
}

#menu-button {
	border: none;
	width: 60px;
	height: 60px;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

@keyframes goIn {
	0% {
		right: 0vw;
	}
	100% {
		right: -100vw;
	}
}

@-webkit-keyframes goIn {
	0% {
		right: 0vw;
	}
	100% {
		right: -100vw;
	}
}

@keyframes goOut {
	0% {
		right: -100vw;
	}
	100% {
		right: 0vw;
	}
}

@-webkit-keyframes goOut {
	0% {
		right: -100vw;
	}
	100% {
		right: 0vw;
	}
}


@keyframes showExt {
	0% {
		top: -15vh;
	}
	100% {
		top: 5vh;
	}
}

@-webkit-keyframes showExt {
	0% {
		top: -15vh;
	}
	100% {
		top: 5vh;
	}
}

@keyframes hideExt {
	0% {
		top: 5vh;
	}
	100% {
		top: -15vh;
	}
}

@-webkit-keyframes hideExt {
	0% {
		top: 5vh;
	}
	100% {
		top: -15vh;
	}
}



@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(180deg);
	}
}


@keyframes rotationN {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes rotationN {
	0% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

@media screen and (max-width:720px) {
	.sidebar {
		position: fixed;
		width: 50%;
		height: 100%;
		z-index: 1;
		/*-webkit-animation: goIn 1s 0s linear;*/
	}
}

@media screen and (max-width:480px) {
	.sidebar {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1;
		/*-webkit-animation: goIn 1s 0s linear;*/
	}
}

.result {
	float: left;
	width: 90%;
	background-color: white;
	color: black;
	margin: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	box-shadow: 0px 0px 8px #AAA;

	font-family: "Roboto";
}

.result-name {
	font-size: 1.5em;
}

.result-preview {
	padding-top: 5px;
	padding-bottom: 15px;
	font-size: 1em;
	word-wrap: break-word;
}

.result-preview::after{
	content: "...";
}

.result-path {
	font-size: 1em;
	background-color: rgb(232, 232, 232);
	padding: 5px;
}

#result-nothing {
	float: left;
	width: 90%;
	background-color: white;
	color: black;
	margin: 2em;
	padding: 1em;
	box-shadow: 0px 0px 8px #AAA;

	font-family: "Roboto";
}

#result-list {
	position: absolute;
	margin-left: 5%;
	margin-right: 5%; 
	height:100vh;
	width: 90vw;
	font-family: "Roboto";
}

#result-list .title {
	width: 78%;
	color: #3d3d3d; 
	margin-top: 2em;
	margin-left: 1.5em;
	font-size: 1.5em;
	float: left;
	font-family: "Roboto";
}

#result-list .icon {
	float: left;
	font-size: 3em;
	margin-top: .5em;
	color: #444;
}

#close-result {
	position: fixed;
	margin-top: 40vh;
	border-radius: 0 80px 80px 0;
	background-color: white;
	width: 40px;
	height: 60px;
	box-shadow: 0px 0px 8px #AAA;
	cursor: pointer;

	text-align: center;
	color: rgb(0, 100, 255);
	font-weight: 900;
	font-size: 25px;
	padding-top: 20px;
	font-family: "Roboto";
}

#open-result {
	position: fixed;
	margin-top: 40vh;
	border-radius: 80px 0px 0px 80px;
	background-color: white;

	left: 97%;

	width: 40px;
	height: 60px;
	box-shadow: 0px 0px 8px #AAA;
	cursor: pointer;

	text-align: center;
	color: rgb(0, 100, 255);
	font-weight: 900;
	font-size: 25px;
	padding-top: 20px;
	font-family: "Roboto";
}

#blink {
	-webkit-animation: blinker 0.6s infinite;
	-moz-animation: blinker 0.6s infinite;
	animation: blinker 0.6s infinite;

}

@keyframes blinker {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes blinker {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.popup .pop {
	position: absolute;
	z-index: 100;
	background-color: #e4e4e4;
	width: 70vw;
	height: 70vh;
	margin-top: 10vh;
	margin-left: 10vw;
	padding: 5vh 5vw 5vh 5vw;
}

.pop .title {
	text-align: center;
	font-size: 1.5em;
}

.pop .profile {
	float:left;
	width: 30%;
	height: 80%;
	background-color: #fff;
	box-shadow: 0px 0px 8px #AAA;
	margin: 1.5%;
	margin-top: 3%;
}

.pop .pic {
	width: 10vw;
	height: 10vw;
	margin-top: 10%;
	margin-left: 5.5vw;
}

.pic img {
	width: 100%;
	height: 100%;
	border-radius: 10vw;
}

.pop .desc {
	width: 90%;
	height: 35%;
	margin-top: 10%;
	padding: 5%;
}

/* OBSOLOTE */

/*Toggle button*/
.cmn-toggle {
	position: : absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

input.cmn-toggle-round + label {
	padding: 2px;
	width: 70px;
	height: 35px;
	background-color: #dddddd;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	border-radius: 35px;
}

input.cmn-toggle-round + label:before {
	display: inline;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	content: "";
	

}

input.cmn-toggle-round + label:after {
	/*display: block;*/
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	content: "BFS";
	font-size: 0.9em;
	text-align: center;
	color: #777;
	vertical-align: 50px;

}

input.cmn-toggle-round + label:before {
	right: 1px;
	background-color: #8c96e1;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle-round + label:after{
	width: 33px;
	background-color: #fff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	-webkit-transition: margin 0.4s;
	-moz-transition: margin 0.4s;
	transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
	background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
	content: "DFS";
	margin-left: 47%;
}
